{% assign menus = site.pages | where: 'nav', true | sort: 'order' | group_by: 'category' %}
{% for cat in menus %}
		<!-- get  the  first item-->
		{% assign root_item = cat.items.first %}
		{% assign items = cat.items %}
		{% if cat.name == "Home" %}
			{% assign items = cat.items | shift %}
		
		{% else %}
		<ul class="block-list">
			<li>
				<h3>{{ cat.name }}</h3>
				<ul>
				{% for item in items %}
					<li>
						<a href="{{ item.url | prepend: site.baseurl }}" class="navbar-item {% if item.url == page.url %}is-active{% endif %}">{{ item.title }}</a>
					</li>
				{% endfor %}
				</ul>
			</li>
		</ul>
		{% endif %}
{% endfor %} 